.principal  {
    height: 700px;
    width: 700px;
    overflow:hidden;
    
}

div div:hover {
    bottom: 150px;
}

div div {
    transition: all 0.5s ease;
    position: relative;
    bottom: 0px;
}

 .Descripcion {
    background-color: rgba(185, 121, 47, 0.5);
    float:right;
    position: relative;
    bottom: 430px;
    height: 140px;
    width: 700px;
    text-align: center;
    font-size: 60px; 
}

.Escondido {
    
    float:right;
    position: relative;
    bottom: 550px;
    width: 700px;
    height: 140px;
    text-align: center;
    font-size: 60px;
    background-color: orange;
    
}







