/* FONTS -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'QuixoteObsolete'; /* Nombre de la fuente */
    src: url('fonts/Quixote/Quixote-Obsolete.woff2') format('woff2'); /* Formato de la fuente */
}

@font-face {
    font-family: 'Test'; /* Nombre de la fuente */
    src: url('fonts/OldNewspaperTypes.woff2') format('woff2'); /* Formato de la fuente */
}
/* FONTS -------------------------------------------------------------------------------- */



/* BODY -------------------------------------------------------------------------------- */
body {
    background: #e5e5e1;
    margin: 0 auto; /* Configura los márgenes izquierdo y derecho automáticamente (centra la página horizontalmente) */
    max-width: 1200px; /* Establece un ancho máximo para el contenido principal */
    padding: 20px; /* Agrega relleno opcional para crear espacios adicionales entre el contenido y los márgenes */
}
/* BODY -------------------------------------------------------------------------------- */


/* HEADER -------------------------------------------------------------------------------- */
header {
    background-color: white;
    background-image: url('images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para el main */
    height: 150px;
    position: relative;
    z-index: 1;
}
/* HEADER -------------------------------------------------------------------------------- */


/* NAV -------------------------------------------------------------------------------- */
nav {
    background-color: rgba(0, 0, 0, 0.912);
    font-family: 'Test', Arial, sans-serif;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para el main */
}

ul {
    list-style: none;
    display: flex; /* flexbox para alinear elementos horizontalmente */
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
}

li {
    flex: 1; /* Los elementos se expanden para ocupar el espacio disponible */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 10px; 
    color: white;
}

a {
    color: white;
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
}

a:hover {
    transform: scale(1.2); /* Escala el elemento a 1.2 veces su tamaño original */
}

li::before {
    background: rgb(92, 92, 92);
    content: "";
    inset: 0;
    position: absolute;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
/* NAV -------------------------------------------------------------------------------- */

/* MAIN -------------------------------------------------------------------------------- */
main {
    height: 1000px;
    background-color: whitesmoke;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para el main */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide el main en dos columnas iguales */
    gap: 10px; /* Espacio entre las columnas */
}

section {
    margin-bottom: 15px;
    overflow: hidden;
}

.principal {
    grid-column: span 1; /* Ocupa una columna */
    margin-top: 10px;
}
.otro {
    display: grid;
    gap: 10px; /* Espacio entre las columnas */
    margin-top: 10px;
    margin-right: 10px;
}

.otro article {
    grid-column: span 1; /* Cada article ocupa una columna */
    max-height: fit-content;
    overflow: hidden;
    
}

.otro article img {
    max-width: 550px;
}

.secundario {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide el section secundario en dos columnas iguales */
    gap: 10px; /* Espacio entre las columnas */

}

.secundario article {
    grid-column: span 1; /* Cada article ocupa una columna */
}

h3 {
    background-color: black;
    color: white;
    display: block;
    margin: 0;
    padding: 5px;
    padding-left: 50px;
}

article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.principal img {
    height: 100px;
    width: auto;
    padding-top: 10px;
    display: block; /* Elimina cualquier espacio en blanco alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente en el artículo */
}







/* MAIN -------------------------------------------------------------------------------- */

/* FOOTER -------------------------------------------------------------------------------- */
footer {
    height: 60px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para el main */
}

.newspaper-footer {
    background-color: rgba(0, 0, 0, 0.912);
    font-family: 'Test', Arial, sans-serif;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

.newspaper-info p {
    margin: 5px 0;
}

.newspaper-info p:first-child {
    font-weight: bold;
}

.newspaper-info p:last-child {
    font-style: italic;
}
/* FOOTER -------------------------------------------------------------------------------- */