
div ul li {
    border-style: solid;
    background-color: orange;
    border-width: 1px;
    width: 100px;
    height: 30px;
    text-align: center;
    color: rgb(94, 115, 172);
    padding-top: 3px;
}

div ul li:hover ul li{
    visibility: visible;
}

li:hover {
    text-decoration: none;
    background-color: black;
}
a:hover {
    color: white;
}
a:link {
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color: white;
}

div ul li ul li {
    position: relative;
    right: -60px;
    bottom: 10px;
    width: 100px;
    height: 30px;
    background-color: yellow;
    list-style-type: none;
    visibility: hidden;
}

