@model AUT02_05.Models.Frases

@{
    ViewData["Title"] = "Editar frase";
}

<h1>Editar ejemplo</h1>
<h4>Término: "@Model.Espeng.ing"</h4>
<h5>Significado: "@Model.Espeng.esp"</h5>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EspengId" />
            <input type="hidden" asp-for="UserId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Eng" class="control-label">Frase en Inglés</label>
                <input asp-for="Eng" class="form-control" />
                <span asp-validation-for="Eng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Esp" class="control-label">Frase en Español</label>
                <input asp-for="Esp" class="form-control" />
                <span asp-validation-for="Esp" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-controller="Espengs" asp-action="Details" asp-route-id="@Model.EspengId" class="btn btn-danger">Cancelar</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
