body {
    background-color: #95E1FF;
}

caption {
    margin-top: 10px;
    margin-bottom: 1px;
    border-top-style: solid;
    border-top-width: 2px;
    margin-left: 65px;
    margin-right: 60px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.nov14 {
    background-color: lightyellow;
    width: fit-content;
    border-style: solid;
    border-width: 1px;
    
    
}

tbody {
    background-color: #FFFFEE;
}

table {
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 30px;
    border-collapse: collapse;

}

td {
    border-bottom: solid;
    border-color: blue;
    border-width: 1px;
    padding-right: 9px;
    padding-left: 9px;
    text-align: right;
}

th {
    padding-right: 5px;
    padding-left: 5px;
}

