@model AUT02_05.Models.Espeng

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Palabra del diccionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="esp" class="control-label"></label>
                <input asp-for="esp" class="form-control" />
                <span asp-validation-for="esp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ing" class="control-label"></label>
                <input asp-for="ing" class="form-control" />
                <span asp-validation-for="ing" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a class="btn btn-secondary"  asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
