<!-- header.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th='http://www.thymeleaf.org'>
<head>
  <meta charset="UTF-8">
  <title>Encabezado Común</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
  <h1>Encabezado Común</h1>
  <nav>
    <ul>
      <li><a th:href="@{/}">Inicio</a></li>
      <li><a th:href="@{/despedida}">Despedida</a></li>
      <li><a th:href="@{/felicita/13(name='John',age=3)}">Felicitacion</a></li>
      <li><a th:href="@{/persona}">Persona</a></li>
      <li><a th:href="@{/Animales/Listar}">Animales</a></li>

    </ul>
  </nav>
</header>
</body>
</html>