@page
@model Proyecto_Razor.Pages.IndexModel
@{
}

@{
    ViewData["Title"] = "Index";
}

@section content {
    <style>
        .texto-descripcion {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
            margin-bottom: 20px;
            margin-left: 20px;
            padding-top: 25px;
        }

        .texto-descripcion p {
            margin-bottom: 20px;
        }

        .texto-descripcion h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
    <div class="texto-descripcion">
        <h2>Bienvenido a nuestra página web de información y exploración de Pokémon</h2>

        <p>Aquí encontrarás una variedad de herramientas y recursos para conocer más sobre tus Pokémon favoritos. Nuestra página cuenta con cuatro emocionantes ejercicios para que disfrutes y descubras más sobre el fascinante mundo de los Pokémon.</p>

        <h2>Primer Ejercicio: Selección de Tipos de Pokémon</h2>

        <p>En el primer ejercicio, te invitamos a explorar los diferentes tipos de Pokémon. Puedes seleccionar uno o varios tipos, como fuego, planta, agua, entre otros, y también especificar si deseas ver solo Pokémon que estén evolucionados o no. Al hacer clic en enviar, obtendrás una lista de Pokémon que se ajustan a tus criterios de selección. ¡Es una excelente manera de descubrir Pokémon nuevos o recordar a tus favoritos!</p>

        <h2>Segundo Ejercicio: Juegos de Pokémon Anteriores</h2>

        <p>En el segundo ejercicio, te ofrecemos una experiencia única para conocer los juegos de Pokémon lanzados anteriormente. Aquí, podrás seleccionar una fecha específica y nuestro sistema te mostrará una lista de los juegos de Pokémon que se lanzaron antes de esa fecha. Es una oportunidad perfecta para viajar al pasado y revivir los juegos clásicos de Pokémon.</p>

        <h2>Tercer Ejercicio: Ataques de Pokémon</h2>

        <p>En el tercer ejercicio, nuestro enfoque se centra en los ataques de los Pokémon. Comienza seleccionando un tipo de Pokémon, como eléctrico, lucha, volador, etc. Luego, elige un Pokémon de ese tipo de una lista desplegable. Al hacerlo, se mostrará una lista de ataques asociados a ese Pokémon en particular. Esta herramienta te permitirá profundizar en las habilidades y estrategias de combate de los Pokémon que más te interesen.</p>

        <h2>Cuarto Ejercicio: Información Detallada de Pokémon</h2>

        <p>
        Finalmente, en el cuarto ejercicio, llevaremos tus conocimientos al siguiente nivel al proporcionarte una visión completa y detallada de un Pokémon en particular. Al igual que en el tercer ejercicio, seleccionarás un tipo de Pokémon y luego elegirás un Pokémon específico de esa categoría. En este caso

        <h2>Quinto Ejercicio: Filtrado de peso</h2>

        <p>En este ejercicio, podrás utilizar un formulario para ingresar un número y encontrar todos los Pokémon que tengan un peso superior a ese valor. Descubre qué Pokémon son los más pesados y sumérgete en el fascinante mundo de estas criaturas. ¡Explora y desafía tus conocimientos sobre los Pokémon más pesados!</p>

        <h2>Sexto Ejercicio: Busqueda de Pokémon</h2>

        <p>En este ejercicio, puedes ingresar el nombre de un Pokémon y se mostrará toda la información detallada sobre ese Pokémon, incluyendo su número en la Pokédex, nombre, peso y altura. Es una herramienta práctica y rápida para acceder a los datos de los Pokémon de manera interactiva.</p>
}       
