body {
    background-image: url(Fondo.jpg);
    background-repeat: no-repeat;
    width: 1500px;

}



.Tiburon {
    position: absolute;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

   @keyframes slidein {
    0% {
        left: 0;
      }
      48% {
        transform: rotateY(0deg); 
      }
      50% { 
        left: 50%;
        transform: rotateY(180deg); 
      }
      98% {
        transform: rotateY(180deg); 
      }
      100% {
        left: 0;    
        transform: rotateY(0deg);
      }
    }
   
   
.Tiburon2 {
    position: absolute;
    left: 70%;
    bottom: 10%;
    transform: rotate(180deg);
    animation-duration: 10s;
    animation-name: slidein2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein2 {
    0% {
      width: 600px;
      top: 10px;
      scale: 0.1;
  
      }

      100% {
        width: 50px;
        top: 200px;
        filter:hue-rotate(90deg);
        scale: 1;

      }

    }
