@{
    ViewData["Title"] = "The Simpsons MCV";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a The Simpsons App</h1>
    <p>    <a href="@Url.Action("CharacterList")" class="btn btn-primary">Lista Personajes</a></p>
    <p>    <a href="@Url.Action("CharacterCreation")" class="btn btn-primary">Crear Personaje</a></p>
</div>
