@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="text-center">
    <h1 class="display-4">Diccionario</h1>
    <h3>Inglés - Español</h3>

    <div>
        @if (!SignInManager.IsSignedIn(User))
        {
            <h4>Identifíquese para acceder a nuestro catálogo</h4>
            <li class="nav-item btn btn-primary">
                <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Registrarme</a>
            </li>
            <li class="nav-item btn btn-success">
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
            </li>
        }
    </div>
</div>


